<!--
    The app's view. The presentation framework fills this with content.

    Uses the Angular.JS presentation framework, together with the jQuery and jQuery-UI libraries.

    Created by Tyler Young on 4 April 2013.
-->
<!doctype html>
<html ng-app="ArgumentMapper"><!-- the ng-app tag says to treat the whole HTML doc as our Angular.JS app -->
<head>
    <!-- Twitter Bootstrap stylesheet, "Slate" theme
        More info: http://bootswatch.com/slate/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Styling for the app -->
    <link href="css/argumentMapper.css" rel="stylesheet"/>

    <!-- jQuery, for Javascript++ -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

    <!-- The jQuery UI library, because mature UI frameworks
         beat the hell out of building this stuff from scratch -->
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

    <!-- Bootstrap Javascript, for more UI stuff -->
    <script src="lib/bootstrap.min.js"></script>

    <!-- include the Angular.js presentation framework -->
    <script src="lib/angular/angular.min.js"></script>

    <!-- The Presenter's interface to the model -->
    <script src="js/ArgumentData.js"></script>

    <!-- Classes used to represent things in the model -->
    <script src="js/classes/Connectors.js"></script>
    <script src="js/classes/Containers.js"></script>
    <script src="js/classes/Premises.js"></script>
    <script src="js/classes/Sides.js"></script>

    <script src="js/addFunctionalityToBuiltInTypes.js"></script>

    <!-- Our controller (presenter) for handling the premises -->
    <script type="text/javascript" src="js/canvasController.js"></script>

    <!-- The JS to make dragging-and-dropping premise boxes happen -->
    <script type="text/javascript" src="js/setUpUI.js"></script>

    <!-- Used for getting mousewheel events -->
    <script type="text/javascript" src="lib/mousewheel.js"></script>

    <script src="lib/autoresize.jquery.js"></script>

</head>

<body id="top" data-spy="scroll">
    <!-- The nav bar at the top of the screen. This is stock Bootstrap. -->
    <!-- @TODO: make this programmatic from the Presenter. -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand active" href="index.html">Argument Mapper</a>
                <div class="nav-collapse collapse" id="main-menu">
                    <ul class="nav" id="main-menu-left">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">File <b class="caret"></b></a>
                            <ul class="dropdown-menu" id="swatch-menu">
                                <li id="createNewArgument"><a href="#">New</a></li>
                                <li><a href="#">Save</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Share</a></li>
                                <li><a href="#">Print</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Lorem</a></li>
                        <li><a href="#">Ipsum</a></li>
                        <li class="dropdown" id="preview-menu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dolar <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Sit amet</a></li>
                                <li><a href="#">Concatenur</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Meta</a></li>
                                <li><a href="#">Gargoyle</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav pull-right" id="main-menu-right">
                        <li><a rel="tooltip" target="_blank" href="https://github.com/CS370/ArgumentMapper/" title="View on GitHub">View on GitHub <i class="icon-share-alt"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Primary content of page -->
    <div class="row-fluid">
        <!-- The sidebar -->
        <!-- TODO: Link these buttons up to the canvas -->
        <aside id="sidebar" class="span2">
            <ul class="nav nav-list">
                <li class="nav-header">Add an element</li>
                <li><a href="#" id="addNewPremise"><span class="premise-demo">Add a premise box</span></a></li>
                <li><a href="#" id="addNewRebuttal"><span class="rebuttal-demo">Add a rebuttal box</span></a></li>
                <li><a href="#" id="addNewConnector">Add a connector</a></li>
				<li class="nav-header">
                    <a href="#" id="changeColor"><span class="change-color">Change the premise color</span></a>
                    <select id="favColor" onchange="changeNewColor()">
                        <option>white</option>
                        <option>green</option>
                        <option>blue</option>
                        <option>red</option>
                        <option>yellow</option>
                        <option>purple</option>
                        <option>grey</option>
                        <option>tan</option>
                    </select>
				</li>
				<li class="nav-header">
                    <a href="#" id="changeConnectorColor"><span class="change-color">Change connector's color</span></a>
                    <select id="favConnectorColor" onchange="changeConnectorColor()">
                        <option>green</option>
                        <option>white</option>
                        <option>blue</option>
                        <option>red</option>
                        <option>yellow</option>
                        <option>purple</option>
                        <option>grey</option>
                        <option>tan</option>
                    </select>
				</li>
            </ul>
        </aside>

        <!-- Invoke the canvas controller (really more of a presenter), defined in js/canvasController.js.
            It adds a few things to its $scope variable:
                - a title
                - a list of premises, each of which contain
                    - a name
                    - a snippet describing them
                    - a top edge location (in pixels)
                    - a left edge location (in pixels)
            -->
        <div ng-controller="CanvasPresenter" id="theCanvas" class="span10">
            <canvas id="drawing" width="578" height="200"></canvas>
            <input ng-model="title" id="argumentTitle" placeholder="Title of the argument" />
            <!-- Note: premise element defined by a Directive in canvasController.js -->

            <premise-container ng-repeat="container in containers" model="container">
                <premise ng-repeat="premise in container.premises" model="premise">
                    <button class="close">&times;</button>
                    <textarea type="text" placeholder="Type your premise here" class="premise-title" rows="1" ng-model="premise.title"></textarea>
                </premise>
            </premise-container>

            <premise ng-repeat="premise in uncontainedPremises" model="premise">
				<button class="close">&times;</button>
                <textarea type="text" placeholder="Type your premise here" class="premise-title" rows="1" ng-model="premise.title"></textarea>
            </premise>

            <connector ng-repeat="connector in connectors" model="connector">
                <div id="{{connector.id}}-start" class="connector connector-start"></div>
                <div id="{{connector.id}}-end" class="connector connector-end"></div>
            </connector>
        </div>

    </div>
</body>


</html>
